@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,800,900&display=swap');

html,
body {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  font-family: Roboto;
  background-color: #f7fafd;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Roboto Slab";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* start main css*/
.main {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.main {
}

.bubble {
  background: linear-gradient(25deg, #3ca2fd 15%, #9cf7dd 50%);
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  z-index: 0;
}
.bubble-1 {
    opacity: 0.51;
    left: 37%;
    z-index: 0;
    top: 24%;
    animation: move-1 30.02s infinite;
    -moz-transform: translate(0, 0) scale(0.17);
    -ms-transform: translate(0, 0) scale(0.17);
    -webkit-transform: translate(0, 0) scale(0.17);
    transform: translate(0, 0) scale(1.7);
}
.bubble-2 {
    opacity: 0.70;
    right: 2%;
    bottom: 1%;
    z-index: 0;
    animation: move-2 30.04s infinite;
    -moz-transform: translate(0, 0) scale(1.32);
    -ms-transform: translate(0, 0) scale(1.32);
    -webkit-transform: translate(0, 0) scale(1.32);
    transform: translate(0, 0) scale(2.5);
}
.bubble-3 {
  opacity: 0.65;
  right: 12%;
  top: -5%;
  animation: move-3 30.06s infinite;
  -moz-transform: translate(0, 0) scale(1.28);
  -ms-transform: translate(0, 0) scale(1.28);
  -webkit-transform: translate(0, 0) scale(1.28);
  transform: translate(0, 0) scale(2.1);
}
.bubble-4 {
  opacity: 0.4;
  left: -5%;
  bottom: 20%;
  z-index: 0;
  animation: move-4 30.08s infinite;
  -moz-transform: translate(0, 0) scale(1.51);
  -ms-transform: translate(0, 0) scale(1.51);
  -webkit-transform: translate(0, 0) scale(1.51);
  transform: translate(0, 0) scale(2.5);
}
.bubble-5 {
  opacity: 0.51;
  left: 21%;
  top: 0;
  animation: move-5 30.1s infinite;
  -moz-transform: translate(0, 0) scale(1.16);
  -ms-transform: translate(0, 0) scale(1.16);
  -webkit-transform: translate(0, 0) scale(1.16);
  transform: translate(0, 0) scale(3);
}
.bubble-6 {
  opacity: 0.37;
  right: 0%;
  bottom: 25%;
  animation: move-6 30.12s infinite;
  -moz-transform: translate(0, 0) scale(1.15);
  -ms-transform: translate(0, 0) scale(1.15);
  -webkit-transform: translate(0, 0) scale(1.15);
  transform: translate(0, 0) scale(3);
}
.header-logo{
  width: 150px;
  margin-top: -15px;
}

/* end  main css*/
/* start header css*/
header {
  position: relative;
  margin-top: 0px;
/*  background-image: url(szUXL.png);
  background-repeat: no-repeat;
  background-size: 52% 100%;
  background-position-y: -9px;*/
}
.section2
{

  /*margin-top: 0px;*/
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}
.section5{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.section6{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.my-container{

}

.banner-text{
  margin-bottom: 50;
  margin-top: 70px;
  display: inline-block;
}
.section2 h1
{
  line-height: 50px;
  font-size: 42px;
  color: #092b4a;
  margin-bottom: 20px;
}
.section2 p
{
  margin-bottom: 10px;
  color: #698195;
  line-height: 26px;
}

.banner-btn{
  display: inline-block;
}

.banner-label{
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
    font-style: italic;
    font-family: roboto slam;
}

button
{
  padding: 10px 30px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  background-color: #02bf83;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 600;
} 
nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0px;
  float: right;
}

nav a {
  color: #092b4a;
  text-decoration: none;
  padding: 20px 12px;
  font-size: 0.85em;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
}
.loginbtn {
  background-color: #e7f0f9;
  padding: 7px;
  color: #2081d5 !important;
  font-weight: bold !important;
  border-radius: 5px !important;
}
/* end header css*/
.section4
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;

}
.video-section{
  position: relative;
  margin-top: 60px;
}

.videoarea {
  height: 220px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 35px #00000014;
}
.helpsection
{

}
.helpsection h2
{
  text-align: center;
  color: #092b4a;
  font-size: 32px;
  margin-top: 80px;
  margin-bottom: 60px;
}
.img-section{
  position: relative;
  margin-bottom: 80px;
}

.shadowbox
{
  background-image: url(downloadtest.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 360px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 35px #00000014;
}
.smallbox
{
  width: 100%;
  margin: 20px;
  background-color: white;
  box-shadow: 0px 0px 35px #00000014;
  padding: 20px;
  border-radius: 6px;
  height: 150px;
}
.smallbox span {
  display: inline-block;
  margin-top: 7px;
  color: #6fa5e3;
  font-weight: 500;
  font-size: 14px;
}
.smallbox .price
{
 font-weight: bold;
 font-size: 30px;
 padding-top: 20px;
 font-family: roboto slam;
}
.smallbox-icon{
  float: right;
  padding: 10px;
  border-radius: 50%;
}
.icon-blue{
  background: #e9f2fc;
}
.icon-green{
  background: #e9fcf0;
}
.icon-red{
  background: #faecec;
}
.icon-yellow{
  background: #faf4ec;
}
.icon-pink{
  background: #f5e9f3;
}
.icon-blue path {
    fill: #6fa5e3;
}
.icon-green path{
  fill: #6ae2b1;
}
.icon-red path{
  fill: #da4b62;
}
.icon-yellow path{
  fill: #da9d49;
}
.icon-pink path{
  fill: #d870bc;
}
.icon-blue i {
    fill: #6fa5e3;
}
.icon-green i{
  fill: #6ae2b1;
}
.icon-red i{
  fill: #da4b62;
}
.icon-yellow i{
  fill: #da9d49;
}
.icon-pink i{
  fill: #d870bc;
}
.smallbox-icon svg{
  width: 18px;
  height: 18px;
}

.bottom-icon svg {
    width: 18px;
    height: 18px;
}

.section4-text{
  margin-bottom: 30px;
}

.smallbox .tag
{
  font-family: roboto;
  color: #52cc90;
  padding-top: 20px;
}
.includesection
{
/* padding: 8%;
 padding-top: 0%;*/
}
.includesection h2
{
  text-align: center;
  color: #092b4a;
  font-size: 32px;
  margin-top: 80px;
  margin-bottom: 0px;
}
.startnow h1 {
  color: #092b4a;
  margin-top: 0;
}
.startnow p {
  color: #698195;
  line-height: 28px;
}

.section4-text h4 {
  color: #092b4a;
  font-family: roboto;
  font-size: 20px;
  text-transform: capitalize;
  line-height: 30px;
  margin-top: 8px;
  margin-bottom: 15px;
}
.section4-text h5 {
    font-family: roboto;
    margin: 5px 0;
    color: #698195;
    line-height: 26px;
    text-transform: capitalize;
    margin-left: 20px;
}
.startnow
{
  padding: 8%;
  padding-top: 0%;
  text-align: center;
}
.runbox1
{
  margin: 20px;
  height: 320px;
  padding: 50px 50px;
  box-shadow: 0px 0px 35px #00000014;
  background-image: url(placeholder.jpg);
  background-size: cover;
  border-radius: 10px;
}

.runbox2 button {
  background: linear-gradient(-165deg, #9cf7dd 15%, #3ca2fd 50%);
  border: none;
  color: white;
  padding: 20px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 100;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 0px 25px #0000002e;
}

.runbox2
{
  margin-top: 80px !important;
  margin-left: -65px !important;
  padding: 20px;
  width: 80%;
  color: #09001312 !important;
  margin: 20px;
  text-align: center;
  height: 300px;
  padding-top: 25%;
  background-color: white;
  box-shadow: 0px 0px 35px #00000014;
  border-radius: 10px;
  margin-bottom: 80px;
}
h3.placeholder-title {
  font-size: 16px !important;
  font-weight: 600;
  font-family: roboto;
  color: #bbcee1 !important;
  line-height: 26px;
  margin-bottom: 20px !important;
  margin-top: 0 !important;
}
.start-text{
  margin-right: 32%;
}
.run-text {
  /*margin-right: 34%;*/
}
.grow-text{
  margin-right: 34%;
}
.get-started-text {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 30px;
}
.bottom-icon {
  display: inline-block;
  padding: 8px 10px;
  border-radius: 50%;
}


h5
{
  padding-left: 3px;
  font-weight: normal;
}

.section2 h3 {
  font-size: 26px;
  margin-top: 80px;
  margin-bottom: 0;
  color: #092b4a;
}


#wave {
position: absolute;
    height: 70px;
    width: 600px;
    background: #ffffff;
    top: 325px;
    transform: scaleX(14) scaleY(2.5) rotate(-90deg);
    left: -440px;
    z-index: -1;
}

#wave:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 84% 93%;
    width: 343px;
    height: 80px;
    background-color: #ffffff;
    right: 0px;
    top: 22px;
}
#wave:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 28% 100%;
    width: 380px;
    height: 70px;
    background-color: #f7fafd;
    left: -87px;
    top: 40px;
}

.bottom-points svg {
    height: 16px;
    width: 16px;
    float: left;
    margin-right: 8px;
    margin-top: 5px;
}

.bottom-points path {
    fill: #67a593;
}

.grow-section{
  position: relative;
}

.bottom-icon1 {
    color: #85c5b3;
    float: left;
    margin-right: 8px;
    margin-top: 5px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.run-main{
      margin-left: 34%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (max-width:1199px){
  .section4 {
    grid-template-columns: repeat(3, 1fr);
  }

  .section2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width:991px){
  .section4 {
    grid-template-columns: repeat(2, 1fr);
  }
  .section2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grow-text {
    margin-right: 0;
  }
  .run-text {
    margin-right: 0;
    margin-bottom: 80px !important;
  }
  .start-text {
    margin-right: 0;
    margin-bottom: 50px !important;
  }
  .section2 h3 {
    margin-top: 0px;
  }
  .helpsection h2 {
    margin-top: 50px;
  }
  .runbox2 {
    margin-bottom: 50px;
  }
  nav a {
    padding: 20px 0px;
  }
  .loginbtn {
    padding: 3px;
  }
  .run-main {
    margin-left: 0%;
}
}

@media screen and (max-width:767px){
  .section4 {
    grid-template-columns: repeat(2, 1fr);
  }
  .get-started-text {
    margin-left: 5%;
    margin-right: 5%;
  }
  #wave {
    transform: scaleX(4) scaleY(1) rotate(-90deg);
    left: -265px;
    	display: none;
}
}

@media screen and (max-width:575px){
  .section4 {
    grid-template-columns: repeat(1, 1fr);
  }
  .section6 {
    grid-template-columns: repeat(1, 1fr);
  }
  .section2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .runbox1 {
    margin: 10px;
    width: 100%;
  }
  .runbox2 {
    margin-left: -30px !important;
    margin: 10px;
    width: 100%;
  }
  .shadowbox {
    height: 200px;
  }
  nav a {
    padding: 0px 1px;
  }
  .bubble-6, .bubble-2 {
    display: none;
  }
  .smallbox {
    width: auto;
    margin: 20px !important;
    padding: 20px !important;
  }
  #wave
  {
  	display: none;
  }
header {
    background-size: 86% 100%;
}
nav {
    float: none;
}
}
